#canvas{
    margin: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    z-index: 2;
}
.canvasContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}
.canvasAdjustSize{
    border: 1px solid rgb(0, 0, 0);
    color: black;
    border-radius: 10px;
    background-color: hsla(173, 100%, 29%, 0.333);
    padding: 10px;
    gap: 30px;
    position:fixed;
    top: 55%;
    right: 0;
    width: 220px;
    height: 180px;
}

.canvasAdjustSize p{
    font-size: 25px;
    margin: 5px 0px 30px 0px;
    background-color: hsla(160, 100%, 85%, 0.626);
    border-radius: 20px;
    padding: 12px;
}

.canvasAdjustSize label{
    color: rgb(255, 255, 255);
}

.lower-canvas{
    position: initial !important;
}